version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend_c
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_c
    environment:
      - NODE_ENV=production
    ports:
      - "8080:80"
    restart: always
